:root{
  --clr-bcg: #fff;         /*https://www.w3schools.com/cssref/func_var.asp*/
  --clr-font: #282C35;
  --clr-primary: #D23669;
}

.dark-theme{
  --clr-bcg: #282C35;       
  --clr-font: #fff;  
  --clr-primary: #ffa7c4;
}

.light-theme{
  --clr-bcg: #fff;       
  --clr-font:  #282C35; 
  --clr-primary: #ffa7c4;
}

* ::after,
::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--clr-bcg);
    color: var(--clr-font);
    line-height:1.5;
    font-size: 1rem;
    transition: all 0.7s linear;

}

.nav-center{
  width:90vw;
  max-width:700px;
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;

}
.btn{
  background-color: var(--clr-primary);
  color: var(--clr-font);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}